



.account_links {
    overflow: hidden
}

.account_links li {
    float: left
}

.account_links li:nth-child(2) {
    float: right
}

.account_links a {
    display: block;
    padding: 10px 0;
    color: #3985ff
}

.account_link {
    margin: 10px;
    text-align: center;
    color: #999
}

.account_link a {
    color: #e93b3d
}

.account_section {
    background: #fff;
    position: relative;
    margin: -1px 0 15px;
    overflow: hidden
}

.account_section .account_item:nth-child(3)::before {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: #e5e5e5;
    height: 1px;
    left: 0;
    right: 0;
    top: 0;
    left: 10px;
    right: 10px
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .account_section .account_item:nth-child(3)::before {
        -webkit-transform: scaleY(.5);
        -webkit-transform-origin: 50% 0
    }
}

.account_title {
    font-size: 14px;
    font-weight: 400;
    margin: 0 10px;
    padding: 12px 0;
    position: relative
}

.account_title:after {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: #e5e5e5;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .account_title:after {
        -webkit-transform: scaleY(.5);
        -webkit-transform-origin: 50% 100%
    }
}

.account_title a {
    color: #3985ff;
    float: right;
    font-size: 12px
}

p.account_title {
    font-size: 12px
}

.account_item {
    padding: 15px 10px 15px 70px;
    position: relative;
    min-height: 50px
}

.account_item img {
    position: absolute;
    left: 10px;
    top: 15px;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50px
}

.account_item li {
    color: #999;
    line-height: 18px
}

.account_item li strong {
    color: #333;
    font-weight: 400
}

.account_item li small {
    font-size: 10px
}

.account_item li em {
    color: #e93b3d
}

.account_item .links {
    margin-top: 5px
}

.account_item .links a {
    color: #3985ff;
    margin-right: 10px
}

.account_item .mod_blockTips {
    margin-top: 15px
}

.account_manage {
    position: relative
}

.account_manage::after {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: #e5e5e5;
    height: 1px;
    left: 0;
    right: 0;
    bottom: 0;
    left: 10px
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .account_manage::after {
        -webkit-transform: scaleY(.5);
        -webkit-transform-origin: 50% 100%
    }
}

.account_manage .item.account_manage_item_tips {
    padding: 7px 10px;
    font-size: 12px;
    color: #666;
    background-color: #e8e8ed
}

.account_manage .item a {
    display: block;
    position: relative;
    height: 44px;
    line-height: 44px;
    margin-left: 10px;
    padding-right: 40px;
    font-size: 14px;
    color: #999
}

.account_manage .item a::before {
    content: "";
    position: absolute;
    z-index: 1;
    pointer-events: none;
    background-color: #e5e5e5;
    height: 1px;
    left: 0;
    right: 0;
    top: 0
}

@media only screen and (-webkit-min-device-pixel-ratio:2) {
    .account_manage .item a::before {
        -webkit-transform: scaleY(.5);
        -webkit-transform-origin: 50% 0
    }
}

.account_manage .item a::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-top: 1px solid #666;
    border-left: 1px solid #666;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    position: absolute;
    top: 50%;
    margin-top: -6px;
    right: 20px
}

.account_manage .item a .text {
    font-size: 12px;
    color: #333;
    float: right
}

.account_manage .item a .text.red {
    color: #e4393c
}

.account_manage .item a .tips {
    font-size: 12px;
    color: #3985ff;
    float: right
}

.account_manage .item.no_arrow a {
    padding-right: 10px
}

.account_manage .item.no_arrow a::after {
    display: none
}

.account_manage .item.disabled {
    background-color: #eeeef4
}

.account_btn {
    overflow: hidden;
    margin: 10px 0;
    padding-right: 10px
}

.account_btn a {
    position: relative;
    float: left;
    display: block;
    width: 50%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border-radius: 2px;
    background: #f3f3f3;
    color: #333
}

.account_btn a:active {
    background: #e6e6e6
}


.account_info_content ol {
    list-style-type: decimal;
    margin-left: 14px
}

.account_info_tips {
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 15px;
    height: 15px;
    background: url(//wq.360buyimg.com/fd/h5/base/settings/images/account_tips_info@2x_e1968cb6.png) no-repeat 50%;
    background-size: 100%
}

.account_info+.account_remind {
    margin-top: -15px
}

.account_step {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}



.account_blocklink::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-top: -2px;
    width: 6px;
    height: 10px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 12 20%22%3E%3Cpath fill=%22%23CCCCCC%22 fill-rule=%22evenodd%22 d=%22M2 20c-.8 0-1.5-.5-1.8-1.2-.3-.8-.2-1.6.4-2.2L7.2 10 .6 3.4c-.8-.8-.8-2 0-2.8.8-.8 2-.8 2.8 0l8 8c.4.4.6 1 .6 1.4 0 .5-.2 1-.6 1.4l-8 8c-.4.4-1 .6-1.4.6z%22/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    position: absolute;
    right: 15px;
    top: 50%;
    margin-top: -6px
}

.account_blocklink h3 {
    font-size: 16px;
    color: #333;
    font-weight: 400
}

.account_blocklink p {
    font-size: 12px;
    color: #999
}

.account_card {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: 12px 10px;
    font-size: 14px
}

.account_card+.mod_btns {
    margin: 12px 10px 15px
}

.account_card_profile {
    margin-top: -2px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    overflow: hidden
}

.account_card_profile img {
    display: block;
    width: 100%;
    border-radius: 100%
}

.account_card_info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    overflow: hidden
}

.account_card_name {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex
}
