/*! 9efe6b5 */
/*! 9efe6b5 */
/*! 9efe6b5 */
/*! 9efe6b5 */
.modify-box .del-ico,
.modify-box .email-ico,
.modify-box .error-ico,
.modify-box .eye-ico,
.modify-box .input-error:after,
.modify-box .modify-item .v-cont .v-txt:after,
.modify-box .s-item .v-cont .v-txt:after,
.modify-box .verify-ico,
.search-box .del-ico,
.search-box .email-ico,
.search-box .error-ico,
.search-box .eye-ico,
.search-box .input-error:after,
.search-box .modify-item .v-cont .v-txt:after,
.search-box .s-item .v-cont .v-txt:after,
.search-box .verify-ico {
    display: inline-block;
    overflow: hidden;
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/safe-icons.png);
    background-repeat: no-repeat;
    background-size: 3rem 3rem
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    padding: 0;
    margin: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
    border: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

body {
    line-height: 1;
    color: #303030
}

input[type=text],
textarea {
    -webkit-appearance: none
}

input:focus {
    -webkit-user-modify: read-write-plaintext-only
}

ol,
ul {
    list-style: none
}

blockquote,
q {
    quotes: none
}

blockquote:after,
blockquote:before,
q:after,
q:before {
    content: "";
    content: none
}

table {
    border-spacing: 0;
    border-collapse: collapse
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box
}

body {
    font-family: SimHei, Helvetica Neue, Arial, Droid Sans, sans-serif
}

body,
html {
    width: 100%;
    height: 100%
}

html {
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: 100%;
    background: #f5f5f5
}

a,
button,
input {
    text-decoration: none;
    outline: 0 none
}

img {
    vertical-align: bottom;
    border: 0 none;
    -ms-interpolation-mode: bicubic
}

.mt30 {
    margin-top: .3rem
}

.hide {
    display: none
}

.fr {
    float: right
}

.fl {
    float: left
}

.ac,
.txtc {
    text-align: center
}

.clr {
    clear: both
}

.container {
    position: relative;
    max-width: 7.5rem;
    height: 100%;
    margin: 0 auto;
    font-size: .28rem;
    background: #f5f5f5
}

.ftc-01 {
    color: #f02b2b
}

.ftc-06 {
    color: #999
}

.alink {
    color: #666;
    text-decoration: underline
}

.mt15 {
    margin-top: .15rem
}

.modify-box .btn-countdown,
.modify-box .btn-def,
.modify-box .btn-gray,
.modify-box .btn-primary,
.modify-box .btn-send,
.modify-toast .btn-primary,
.search-box .btn-countdown,
.search-box .btn-def,
.search-box .btn-gray,
.search-box .btn-primary,
.search-box .btn-send {
    display: inline-block;
    height: .9rem;
    font-size: .32rem;
    line-height: .9rem;
    white-space: nowrap;
    border: 0
}

.fix-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 1rem
}

.loading {
    padding: .2rem 0;
    font-size: .2rem
}

.modify-box,
.search-box {
    width: 6.7rem;
    margin: .4rem auto;
    font-size: .28rem
}

.modify-box .verify-ico,
.search-box .verify-ico {
    float: left;
    width: .32rem;
    height: .37rem;
    margin: .04rem .2rem 0 0;
    vertical-align: top;
    background-position: 0 0
}

.modify-box .safe-tipico,
.search-box .safe-tipico {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    margin: 0 auto .8rem;
    background-size: 1.4rem 1.4rem
}

.modify-box .succ-ico,
.search-box .succ-ico {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_succeed@2x.png)
}

.modify-box .warn-ico,
.search-box .warn-ico {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_warning@2x.png)
}

.modify-box .del-ico,
.search-box .del-ico {
    display: none;
    width: .32rem;
    height: .3rem;
    margin-right: .15rem;
    vertical-align: middle;
    background-position: -2.25rem 0
}

.modify-box .eye-ico,
.search-box .eye-ico {
    width: .44rem;
    height: .3rem;
    margin-right: .15rem;
    vertical-align: middle;
    background-position: -1.6rem 0
}

.modify-box .error-ico,
.search-box .error-ico {
    width: .32rem;
    height: .32rem;
    margin-right: .14rem;
    vertical-align: middle;
    background-position: -.52rem 0
}

.modify-box .email-ico,
.search-box .email-ico {
    display: block;
    width: 1.44rem;
    height: 1.22rem;
    margin: 0 auto .74rem;
    background-position: 0 -.57rem
}

.modify-box .z-pwd-visible .eye-ico,
.search-box .z-pwd-visible .eye-ico {
    background-position: -.97rem 0
}

.modify-box .z-focus .del-ico,
.search-box .z-focus .del-ico {
    display: inline-block
}

.modify-box .input-error,
.search-box .input-error {
    position: relative;
    padding-left: .46rem;
    margin-top: .14rem;
    color: #f02b2b
}

.modify-box .input-error:after,
.search-box .input-error:after {
    position: absolute;
    top: 0;
    left: 0;
    width: .34rem;
    height: .32rem;
    content: "";
    background-position: -.5rem 0
}

.modify-box .modify-item,
.modify-box .s-item,
.search-box .modify-item,
.search-box .s-item {
    margin-bottom: .33rem;
    line-height: .4rem;
    color: #000
}

.modify-box .modify-item:after,
.modify-box .s-item:after,
.search-box .modify-item:after,
.search-box .s-item:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    content: "."
}

.modify-box .modify-item .label,
.modify-box .s-item .label,
.search-box .modify-item .label,
.search-box .s-item .label {
    display: inline-block;
    font-size: .28rem;
    vertical-align: top
}

.modify-box .modify-item .label em,
.modify-box .s-item .label em,
.search-box .modify-item .label em,
.search-box .s-item .label em {
    color: #ff3a43
}

.modify-box .modify-item .item-rcol,
.modify-box .s-item .item-rcol,
.search-box .modify-item .item-rcol,
.search-box .s-item .item-rcol {
    display: inline-block;
    width: 6.7rem;
    margin-top: .18rem;
    vertical-align: top
}

.modify-box .modify-item .item-rcol:after,
.modify-box .s-item .item-rcol:after,
.search-box .modify-item .item-rcol:after,
.search-box .s-item .item-rcol:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    content: "."
}

.modify-box .modify-item .item-rcol2,
.modify-box .s-item .item-rcol2,
.search-box .modify-item .item-rcol2,
.search-box .s-item .item-rcol2 {
    width: 5.1rem;
    margin-top: 0
}

.modify-box .modify-item .item-info,
.modify-box .s-item .item-info,
.search-box .modify-item .item-info,
.search-box .s-item .item-info {
    margin-bottom: .24rem
}

.modify-box .modify-item .rcol-cont,
.modify-box .s-item .rcol-cont,
.search-box .modify-item .rcol-cont,
.search-box .s-item .rcol-cont {
    width: 100%;
    font-size: 0;
    line-height: .9rem;
    text-align: right;
    background: #fff;
    border: .01rem solid #ededed
}

.modify-box .modify-item .rcol-cont:after,
.modify-box .s-item .rcol-cont:after,
.search-box .modify-item .rcol-cont:after,
.search-box .s-item .rcol-cont:after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    content: "."
}

.modify-box .modify-item .rcol-cont02,
.modify-box .s-item .rcol-cont02,
.search-box .modify-item .rcol-cont02,
.search-box .s-item .rcol-cont02 {
    float: left;
    width: 3.9rem
}

.modify-box .modify-item .itxt,
.modify-box .s-item .itxt,
.search-box .modify-item .itxt,
.search-box .s-item .itxt {
    float: left;
    width: 5.35rem;
    height: .45rem;
    padding: 0 .2rem;
    margin: .22rem 0;
    font-family: SimHei, Helvetica Neue, Arial, Droid Sans, sans-serif;
    font-size: .32rem;
    line-height: .45rem;
    background: #fff;
    border: 0
}

.modify-box .modify-item .itxt-search,
.modify-box .s-item .itxt-search,
.search-box .modify-item .itxt-search,
.search-box .s-item .itxt-search {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/search.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: .3rem .3rem
}

.modify-box .modify-item .itxt-s,
.modify-box .s-item .itxt-s,
.search-box .modify-item .itxt-s,
.search-box .s-item .itxt-s {
    width: 3.1rem
}

.modify-box .modify-item .itxt-m,
.modify-box .s-item .itxt-m,
.search-box .modify-item .itxt-m,
.search-box .s-item .itxt-m {
    width: 4rem
}

.modify-box .modify-item .v-cont,
.modify-box .s-item .v-cont,
.search-box .modify-item .v-cont,
.search-box .s-item .v-cont {
    position: relative;
    z-index: 2;
    float: left;
    width: 6.7rem;
    font-size: .32rem;
    text-align: left
}

.modify-box .modify-item .v-cont .v-txt,
.modify-box .s-item .v-cont .v-txt,
.search-box .modify-item .v-cont .v-txt,
.search-box .s-item .v-cont .v-txt {
    position: relative;
    height: .9rem;
    padding: 0 .58rem 0 .2rem;
    line-height: .9rem;
    color: #000
}

.modify-box .modify-item .v-cont .v-txt:after,
.modify-box .s-item .v-cont .v-txt:after,
.search-box .modify-item .v-cont .v-txt:after,
.search-box .s-item .v-cont .v-txt:after {
    position: absolute;
    top: 50%;
    right: .2rem;
    width: .38rem;
    height: .22rem;
    margin-top: -.11rem;
    content: "";
    background-position: -2.16rem -.57rem
}

.modify-box .modify-item .v-cont .v-list,
.modify-box .s-item .v-cont .v-list,
.search-box .modify-item .v-cont .v-list,
.search-box .s-item .v-cont .v-list {
    position: absolute;
    top: .9rem;
    left: 0;
    display: none;
    width: 6.7rem;
    line-height: .9rem;
    background: #fff;
    border: 1px solid #ededed;
    border-top: 0
}

.modify-box .modify-item .v-cont .v-list li,
.modify-box .s-item .v-cont .v-list li,
.search-box .modify-item .v-cont .v-list li,
.search-box .s-item .v-cont .v-list li {
    margin: 0 .2rem;
    cursor: pointer;
    border-top: .01rem solid #dadada
}

.modify-box .modify-item .v-cont-up .v-txt:after,
.modify-box .s-item .v-cont-up .v-txt:after,
.search-box .modify-item .v-cont-up .v-txt:after,
.search-box .s-item .v-cont-up .v-txt:after {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.modify-box .modify-item .v-cont-up .v-list,
.modify-box .s-item .v-cont-up .v-list,
.search-box .modify-item .v-cont-up .v-list,
.search-box .s-item .v-cont-up .v-list {
    display: block
}

.modify-box .modify-item .v-cont02,
.modify-box .s-item .v-cont02,
.search-box .modify-item .v-cont02,
.search-box .s-item .v-cont02 {
    width: 1.7rem
}

.modify-box .tip-box,
.search-box .tip-box {
    margin-bottom: .8rem
}

.modify-box .tip-box .tip-title,
.search-box .tip-box .tip-title {
    font-size: .32rem;
    color: #000;
    text-align: center
}

.modify-box .tip-box .tip-hint,
.search-box .tip-box .tip-hint {
    font-size: .28rem;
    line-height: .28rem;
    color: #999
}

.modify-box .tip-box .tip-cont,
.search-box .tip-box .tip-cont {
    margin: .74rem 0 -.25rem;
    font-size: .28rem;
    line-height: .28rem;
    color: #000
}

.modify-box .tip-inner,
.search-box .tip-inner {
    margin: .55rem 0;
    font-size: .36rem;
    line-height: .36rem
}

.modify-box .tip-inner strong,
.search-box .tip-inner strong {
    font-weight: 700
}

.modify-box .tip-inner .tip-info,
.search-box .tip-inner .tip-info {
    position: relative;
    color: #000
}

.modify-box .tip-inner .tip-info .verify-ico,
.search-box .tip-inner .tip-info .verify-ico {
    position: absolute;
    top: 0;
    left: 0
}

.modify-box .tip-inner .ico-info,
.search-box .tip-inner .ico-info {
    padding-left: .52rem
}

.modify-box .modify-gray,
.search-box .modify-gray {
    margin: 0 .8rem .8rem;
    color: #999
}

.modify-box .modify-gray .modify-item,
.search-box .modify-gray .modify-item {
    color: #999
}

.modify-box .modify-gray .item-rcol,
.search-box .modify-gray .item-rcol {
    width: 3.5rem
}

.modify-box .problem-wrap,
.search-box .problem-wrap {
    position: fixed;
    bottom: .2rem;
    left: .2rem;
    z-index: 10;
    width: 7.1rem;
    text-align: center
}

.modify-box .problem-wrap .slove-list,
.search-box .problem-wrap .slove-list {
    background: #fff;
    border-radius: .2rem
}

.modify-box .problem-wrap .slove-list .item,
.search-box .problem-wrap .slove-list .item {
    position: relative;
    padding: .35rem 0;
    font-size: .32rem;
    color: #222
}

.modify-box .problem-wrap .slove-list .item:after,
.search-box .problem-wrap .slove-list .item:after {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 0;
    content: "";
    border-bottom: 1px solid #ccc;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom
}

.modify-box .problem-wrap .slove-list .item-tit,
.search-box .problem-wrap .slove-list .item-tit {
    padding: .25rem 0;
    color: #999
}

.modify-box .problem-wrap .slove-list a,
.search-box .problem-wrap .slove-list a {
    color: #222
}

.modify-box .problem-wrap .problem-opbtns,
.search-box .problem-wrap .problem-opbtns {
    padding: .34rem 0 .33rem;
    margin-top: .2rem;
    font-size: .32rem;
    color: #666;
    background: #fff;
    border-radius: .2rem
}

.modify-box .problem-wrap .problem-opbtns .def-btn,
.search-box .problem-wrap .problem-opbtns .def-btn {
    font-size: .32rem;
    color: #666;
    background: transparent;
    border: none
}

.modify-box .pos-bottom,
.search-box .pos-bottom {
    position: fixed;
    bottom: .4rem;
    left: 0;
    width: 7.5rem;
    font-size: .28rem;
    color: #666;
    text-align: center;
    text-decoration: underline
}

.modify-box .safe-toast,
.search-box .safe-toast {
    position: fixed;
    bottom: 1.2rem;
    left: 0;
    width: 7.5rem;
    text-align: center
}

.modify-box .safe-toast .toast-cont,
.search-box .safe-toast .toast-cont {
    display: inline-block;
    padding: .2rem .4rem;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    border-radius: .16rem
}

@media only screen and (device-width:375px) and (device-height:812px) and (-webkit-device-pixel-ratio:3) {

    .modify-box .problem-wrap,
    .search-box .problem-wrap {
        bottom: .54rem
    }

    .modify-box .pos-bottom,
    .search-box .pos-bottom {
        bottom: .74rem
    }

    .modify-box .safe-toast,
    .search-box .safe-toast {
        bottom: 1.54rem
    }
}

.modify-box .ask-lists .cont-tit,
.search-box .ask-lists .cont-tit {
    margin-bottom: .3rem;
    font-size: .28rem;
    line-height: .28rem;
    color: #000
}

.modify-box .ask-lists .ask-list .item,
.search-box .ask-lists .ask-list .item {
    position: relative;
    padding: .29rem 0 .29rem .4rem;
    font-size: .32rem;
    color: #000;
    background: #fff
}

.modify-box .ask-lists .ask-list .item:after,
.search-box .ask-lists .ask-list .item:after {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 0;
    content: "";
    border-bottom: 1px solid #ccc;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom
}

.modify-box .ask-lists .ask-list .item-selted,
.search-box .ask-lists .ask-list .item-selted {
    background: #e4e4e4
}

.modify-box .modify-lists,
.search-box .modify-lists {
    width: 7.5rem;
    margin: 0 -.4rem
}

.modify-box .modify-lists .list-item,
.search-box .modify-lists .list-item {
    position: relative;
    padding: .36rem .4rem .36rem 1.05rem;
    font-size: .32rem;
    line-height: .5rem;
    color: #000;
    background: #fff
}

.modify-box .modify-lists .list-item:after,
.search-box .modify-lists .list-item:after {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 0;
    content: "";
    border-bottom: 1px solid #ccc;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom
}

.modify-box .modify-lists .list-item:before,
.search-box .modify-lists .list-item:before {
    position: absolute;
    top: 50%;
    right: .4rem;
    width: .22rem;
    height: .38rem;
    margin-top: -.19rem;
    content: "";
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_next@2x.png);
    background-size: .22rem .38rem
}

.modify-box .modify-lists .multi-items,
.search-box .modify-lists .multi-items {
    position: relative
}

.modify-box .modify-lists .multi-items:after,
.search-box .modify-lists .multi-items:after {
    position: absolute;
    left: 0;
    bottom: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 0;
    content: "";
    border-bottom: 1px solid #ccc;
    -webkit-transform: scale(.5);
    transform: scale(.5);
    -webkit-transform-origin: left bottom;
    transform-origin: left bottom
}

.modify-box .modify-lists .multi-items:before,
.search-box .modify-lists .multi-items:before {
    position: absolute;
    top: 50%;
    right: .4rem;
    z-index: 2;
    width: .22rem;
    height: .38rem;
    margin-top: -.19rem;
    content: "";
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_next@2x.png);
    background-size: .22rem .38rem
}

.modify-box .modify-lists .multi-items .list-item:after,
.modify-box .modify-lists .multi-items .list-item:before,
.search-box .modify-lists .multi-items .list-item:after,
.search-box .modify-lists .multi-items .list-item:before {
    display: none
}

.modify-box .modify-lists .type-ico,
.search-box .modify-lists .type-ico {
    position: absolute;
    top: .36rem;
    left: .4rem;
    width: .48rem;
    height: .5rem;
    background-repeat: no-repeat;
    background-position: 50%
}

.modify-box .modify-lists .ask-type,
.search-box .modify-lists .ask-type {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_questionnaire@2x.png);
    background-size: .4rem .48rem
}

.modify-box .modify-lists .password-type,
.modify-box .modify-lists .pwd-type,
.search-box .modify-lists .password-type,
.search-box .modify-lists .pwd-type {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_password@2x.png);
    background-size: .42rem .5rem
}

.modify-box .modify-lists .mobile-type,
.modify-box .modify-lists .phone-type,
.search-box .modify-lists .mobile-type,
.search-box .modify-lists .phone-type {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_phone@2x.png);
    background-size: .4rem .48rem
}

.modify-box .modify-lists .hisMobile,
.modify-box .modify-lists .hisMobile-type,
.modify-box .modify-lists .hisreci-type,
.search-box .modify-lists .hisMobile,
.search-box .modify-lists .hisMobile-type,
.search-box .modify-lists .hisreci-type {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_receiver@2x.png);
    background-size: .48rem .4rem
}

.modify-box .modify-lists .addCard-type,
.modify-box .modify-lists .bank-type,
.modify-box .modify-lists .bankcards-type,
.modify-box .modify-lists .mobile-type-1,
.search-box .modify-lists .addCard-type,
.search-box .modify-lists .bank-type,
.search-box .modify-lists .bankcards-type,
.search-box .modify-lists .mobile-type-1 {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_card@2x.png);
    background-size: .48rem .4rem
}

.modify-box .modify-lists .idcard-type,
.modify-box .modify-lists .userAuth-type,
.search-box .modify-lists .idcard-type,
.search-box .modify-lists .userAuth-type {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_id@2x.png);
    background-size: .48rem .4rem
}

.modify-box .modify-lists .add-ico,
.search-box .modify-lists .add-ico {
    top: 1.04rem;
    z-index: 2;
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/ic_connect@2x.png);
    background-size: .32rem .48rem
}

.modify-box .btn-primary,
.modify-box .btn-send,
.search-box .btn-primary,
.search-box .btn-send {
    font-size: .32rem;
    color: #fff;
    text-align: center;
    background: #f02b2b;
    border-radius: .16rem
}

.modify-box .btn-send.btn-disabled,
.search-box .btn-send.btn-disabled {
    color: #a3a3a3;
    background: #e4e4e4
}

.modify-box .btn-primary.btn-disabled,
.search-box .btn-primary.btn-disabled {
    color: #f38a91
}

.modify-box .btn-def,
.search-box .btn-def {
    padding: 0 .34rem;
    color: #000;
    text-align: center;
    background: #f5f5f5;
    border: .02rem solid #000;
    border-radius: .16rem
}

.modify-box .btn-countdown,
.modify-box .btn-gray,
.search-box .btn-countdown,
.search-box .btn-gray {
    color: #a3a3a3;
    background: #e4e4e4
}

.modify-box .btn-m,
.search-box .btn-m {
    width: 2.6rem;
    text-align: center
}

.modify-box .btn-lg,
.search-box .btn-lg {
    width: 6.7rem;
    padding: 0
}

.modify-box .btn-disabled,
.search-box .btn-disabled {
    cursor: not-allowed
}

.modify-box .btn-txt,
.search-box .btn-txt {
    color: #2d90ff;
    background: transparent;
    border: 0
}

.modify-box .modify-opbtns,
.search-box .modify-opbtns {
    position: relative;
    z-index: 10;
    margin-top: .8rem
}

.modify-box .modify-extra,
.search-box .modify-extra {
    margin-top: .24rem;
    line-height: .38rem
}

.modify-box .uservalidate-mod,
.search-box .uservalidate-mod {
    margin: .3rem 0 .88rem .52rem
}

.modify-box .uservalidate-mod .modify-item .item-rcol2,
.search-box .uservalidate-mod .modify-item .item-rcol2 {
    width: 4.1rem
}

.search-box {
    width: 7.1rem;
    margin: .2rem auto 0
}

.search-box .s-item {
    position: relative;
    height: .68rem;
    line-height: .6rem;
    background: #fff
}

.search-box .s-item .itxt-search {
    width: 7.1rem;
    padding: 0 .7rem;
    margin: .11rem 0
}

.search-box .s-item .btn-txt {
    position: absolute;
    top: 0;
    right: -.4rem;
    display: none;
    line-height: .68rem
}

.search-box .s-focus {
    width: 6.4rem
}

.search-box .s-focus .itxt-search {
    width: 5.9rem;
    background-position: .2rem
}

.search-box .s-focus .btn-txt {
    display: block
}

.toast-mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .34)
}

.modify-toast {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 6.4rem;
    padding-top: .45rem;
    background: #fff;
    border-radius: .2rem;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.modify-toast .toast-tit {
    font-size: .32rem;
    font-weight: 700;
    line-height: .45rem;
    text-align: center
}

.modify-toast .toast-cont {
    margin: .45rem .82rem;
    font-size: .28rem;
    line-height: .4rem;
    text-align: center
}

.modify-toast .toast-btn {
    width: 100%
}

.modify-toast .btn-primary {
    width: 100%;
    height: .9rem;
    line-height: .9rem;
    color: #fff;
    text-align: center;
    background: #f02b2b;
    border-radius: 0 0 .2rem .2rem
}

.picker-box .pro-picker {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    width: 100%;
    overflow: auto;
    background: #fff
}

.picker-box dt {
    padding: 0 .46rem 0 .3rem;
    font-size: .36rem;
    background: #f5f5f5
}

.picker-box dd,
.picker-box dt {
    height: .9rem;
    line-height: .9rem;
    color: #000
}

.picker-box dd {
    margin: 0 .46rem 0 .3rem;
    font-size: .34rem;
    text-align: left;
    border-bottom: .01rem solid #dbdbdb
}

.picker-box dd:last-child {
    border-bottom: 0
}

.picker-box .number {
    float: right;
    padding-right: .24rem;
    font-size: .26rem;
    color: #999
}

.picker-box .navbar {
    position: fixed;
    top: .4rem;
    right: 0;
    z-index: 21;
    width: .46rem;
    padding: .5rem 0;
    font-size: .26rem;
    color: #2d90ff;
    background: #fff;
    border-radius: .5rem
}

.picker-box .navbar a {
    display: block;
    width: .46rem;
    height: .36rem;
    margin: 0;
    line-height: .36rem;
    color: #2d90ff;
    text-align: center
}

.toHome .btn-primary,
.toHome .btn-send {
    background: green
}

.toHome .btn-primary.btn-disabled {
    color: #66a666
}

@-webkit-keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.2);
        transform: scale(.2)
    }

    50% {
        opacity: 1
    }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(.2);
        transform: scale(.2)
    }

    50% {
        opacity: 1
    }
}

@-webkit-keyframes showIn {
    0% {
        visibility: visible
    }

    to {
        visibility: visible
    }
}

@keyframes showIn {
    0% {
        visibility: visible
    }

    to {
        visibility: visible
    }
}

@-webkit-keyframes showOut {
    0% {
        visibility: hidden
    }

    to {
        visibility: hidden
    }
}

@keyframes showOut {
    0% {
        visibility: hidden
    }

    to {
        visibility: hidden
    }
}

@-webkit-keyframes inRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(.5rem, 0, 0);
        transform: translate3d(.5rem, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes inRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(.5rem, 0, 0);
        transform: translate3d(.5rem, 0, 0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes outRight {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-.5rem, 0, 0);
        transform: translate3d(-.5rem, 0, 0)
    }
}

@keyframes outRight {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(-.5rem, 0, 0);
        transform: translate3d(-.5rem, 0, 0)
    }
}

@-webkit-keyframes outRight2 {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@keyframes outRight2 {
    0% {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }

    to {
        opacity: 1;
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}

@-webkit-keyframes inUp {

    0%,
    50%,
    99%,
    to {
        overflow: visible;
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        height: 0%
    }

    50% {
        height: 100%
    }

    99% {
        height: 2%
    }

    to {
        height: 0%;
        overflow: hidden
    }
}

@keyframes inUp {

    0%,
    50%,
    99%,
    to {
        overflow: visible;
        -webkit-animation-timing-function: cubic-bezier(.215, .61, .355, 1);
        animation-timing-function: cubic-bezier(.215, .61, .355, 1)
    }

    0% {
        height: 0%
    }

    50% {
        height: 100%
    }

    99% {
        height: 2%
    }

    to {
        height: 0%;
        overflow: hidden
    }
}

@-webkit-keyframes inTxtUp {
    0% {
        visibility: visible;
        -webkit-transform: translateY(.35rem);
        transform: translateY(.35rem)
    }

    25% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    75% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }
}

@keyframes inTxtUp {
    0% {
        visibility: visible;
        -webkit-transform: translateY(.35rem);
        transform: translateY(.35rem)
    }

    25% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    75% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        -webkit-transform: translateY(-.35rem);
        transform: translateY(-.35rem)
    }
}

@-webkit-keyframes inTxtUp2 {
    0% {
        visibility: visible;
        -webkit-transform: translateY(.3rem);
        transform: translateY(.3rem)
    }

    25% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    75% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes inTxtUp2 {
    0% {
        visibility: visible;
        -webkit-transform: translateY(.3rem);
        transform: translateY(.3rem)
    }

    25% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    75% {
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }

    to {
        visibility: visible;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.InRight {
    -webkit-animation-name: zoomInRight;
    animation-name: zoomInRight
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards
}

.scan-wrap .scan-mod {
    margin: 1.45rem auto .7rem
}

.scan-wrap .scan-img,
.scan-wrap .scan-mod {
    position: relative;
    width: 4.02rem;
    height: 4.34rem
}

.scan-wrap .scan-img {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/scan1@2x.png);
    background-repeat: no-repeat;
    background-size: 4.02rem 4.34rem
}

.scan-wrap .scan-img:before {
    position: absolute;
    top: .57rem;
    left: .62rem;
    width: 2.8rem;
    height: 3.22rem;
    content: "";
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/scan/bg@2x.png);
    background-size: 2.8rem 3.22rem
}

.scan-wrap .scan-cont {
    position: absolute;
    top: .17rem;
    left: .62rem;
    width: 2.8rem;
    height: 4.02rem;
    -webkit-animation-name: showIn, showOut;
    animation-name: showIn, showOut;
    -webkit-animation-duration: 4s, 4s;
    animation-duration: 4s, 4s;
    -webkit-animation-timing-function: linear, linear;
    animation-timing-function: linear, linear;
    -webkit-animation-delay: 1.5s, 5.5s;
    animation-delay: 1.5s, 5.5s;
    -webkit-animation-iteration-count: 1, 1;
    animation-iteration-count: 1, 1;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-direction: normal, normal;
    animation-direction: normal, normal
}

.scan-wrap .scan-cont i {
    position: absolute;
    top: 1.16rem;
    left: .55rem;
    display: block;
    width: 1.7rem;
    height: 1.7rem;
    content: "";
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/scan/ic_account@2x.png);
    background-size: 1.7rem 1.7rem;
    opacity: 0;
    -webkit-animation-name: inRight, outRight;
    animation-name: inRight, outRight;
    -webkit-animation-duration: .5s, .5s;
    animation-duration: .5s, .5s;
    -webkit-animation-timing-function: linear, linear;
    animation-timing-function: linear, linear;
    -webkit-animation-delay: 1.5s, 3.5s;
    animation-delay: 1.5s, 3.5s;
    -webkit-animation-iteration-count: 1, 1;
    animation-iteration-count: 1, 1;
    -webkit-animation-fill-mode: forwards, forwards;
    animation-fill-mode: forwards, forwards;
    -webkit-animation-direction: normal, normal;
    animation-direction: normal, normal
}

.scan-wrap .scan-cont .cont {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/scan/bg_account@2x.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 2.8rem 4.02rem;
    -webkit-animation: 2s 2s inUp forwards;
    animation: 2s 2s inUp forwards
}

.scan-wrap .scan-cont .cont:before {
    position: absolute;
    top: -.04rem;
    left: -1.86rem;
    z-index: 2;
    width: 6.52rem;
    height: 100%;
    content: "";
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/scan/line@2x.png);
    background-repeat: no-repeat;
    background-size: 6.52rem .04rem
}

.scan-wrap .scan-cont .cont:after {
    position: absolute;
    top: 0;
    left: -1.86rem;
    z-index: 1;
    width: 6.52rem;
    height: 100%;
    content: "";
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, .3)), to(hsla(0, 0%, 100%, 0)));
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .3), hsla(0, 0%, 100%, 0))
}

.scan-wrap .scan-cont2 {
    visibility: hidden;
    -webkit-animation-delay: 4s, 8s;
    animation-delay: 4s, 8s
}

.scan-wrap .scan-cont2 i {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/scan/ic_security@2x.png);
    -webkit-animation-delay: 4s, 6s;
    animation-delay: 4s, 6s
}

.scan-wrap .scan-cont2 .cont {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/scan/bg_security@2x.png);
    -webkit-animation-delay: 4.5s;
    animation-delay: 4.5s
}

.scan-wrap .scan-cont3 {
    visibility: hidden;
    -webkit-animation-name: showIn, showIn;
    animation-name: showIn, showIn;
    -webkit-animation-delay: 6.5s, 10.5s;
    animation-delay: 6.5s, 10.5s
}

.scan-wrap .scan-cont3 i {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/scan/ic_system@2x.png);
    -webkit-animation-name: inRight, outRight2;
    animation-name: inRight, outRight2;
    -webkit-animation-delay: 6.5s, 8.5s;
    animation-delay: 6.5s, 8.5s
}

.scan-wrap .scan-cont3 .cont {
    background-image: url(//misc.360buyimg.com/user/myjd/safe/m/0.0.1/css/i/assets/scan/bg_system@2x.png);
    -webkit-animation-delay: 7s;
    animation-delay: 7s
}

.scan-wrap .scan-txt {
    position: relative;
    height: .35rem;
    overflow: hidden;
    font-size: .28rem;
    color: #999;
    text-align: center
}

.scan-wrap .scan-txt li {
    position: absolute;
    width: 100%;
    height: .35rem;
    margin: 0;
    line-height: .35rem;
    visibility: hidden;
    -webkit-animation: 2s inTxtUp forwards;
    animation: 2s inTxtUp forwards
}

.scan-wrap .scan-txt .fore2 {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s
}

.scan-wrap .scan-txt .fore3 {
    -webkit-animation-name: inTxtUp2;
    animation-name: inTxtUp2;
    -webkit-animation-delay: 3.5s;
    animation-delay: 3.5s
}

input:-webkit-autofill {
    color: #000;
    background-color: #fff;
    background-image: none
}

.hide-itxt {
    display: none
}