<ul id="msShortcut" className="jd-header-vertical-shortcut-v2" style={{position:"absolute",top:"53px",right:"10px",display:"block"}}>
    <li><a className="J_ping" report-eventid="MCommonHead_home"
            ><span className="shortcut-index" style={{background:"url() no-repeat center center",backgroundSize:"15px"}}></span><strong>首页</strong></a></li>
    <li className="current"><a className="J_ping" report-eventid="MCommonHead_CategorySearch" 
            ><span className="shortcut-search" style={{background:"url() no-repeat center center",backgroundSize:"15px"}}></span><strong>分类搜索</strong></a></li>
    <li><a className="J_ping" report-eventid="MCommonHead_Cart" 
            ><span className="shortcut-cart" style={{background:"url() no-repeat center center",backgroundSize: "15px"></span><strong>购物车</strong></a></li>
    <li><a className="J_ping" report-eventid="MCommonHead_MYJD" 
            ><span className="shortcut-home" style={{background:"url() no-repeat center center",backgroundSize: "15px"}}></span><strong>我的京东</strong></a></li>
    <li><a className="J_ping" report-eventid="MCommonHead_FootPrint"
            ><span className="shortcut-footprint"
                style={{background:"url() no-repeat center center",backgroundSize: "15px"}}></span><strong>浏览记录</strong></a></li>
</ul>